{% extends './plantilla.html' %}
{% block contenido %}
<br>
<h1>Listado de Camaras</h1>
<hr>
<br>
<div class="text-end">
    <a href="nuevaCamara" class="btn btn-primary bg-info">Agregar Camara</a>
</div>
<br>
<br>
<table class="table table-bordered table-striped table-hover">
    <thead class="bg-info">
        <tr>
            <th>ID</th>
            <th>MARCA</th>
            <th>MODELO</th>
            <th>TIPO</th>
            <th>RESOLUCION</th>
            <th>LENTE</th>
            <th>PRECIO</th>
            <th>ACCIONES</th>
        </tr>
    </thead>
    <tbody>
        {%for CamaraTemporal in camara %}
            <tr>
                <td>{{CamaraTemporal.id}}</td>
                <td>{{CamaraTemporal.marca}}</td>
                <td>{{CamaraTemporal.modelo}}</td>
                <td>{{CamaraTemporal.tipo}}</td>
                <td>{{CamaraTemporal.resolucion}}</td>
                <td>{{CamaraTemporal.lente}}</td>
                <td>{{CamaraTemporal.precio}}</td>
                <td>
                    <a href="" class="btn btn-outline-warning">
                        <i class="fa fa-pen"></i>    
                    </a>
                    <a href="eliminarCamara/{{CamaraTemporal.id}}"  class="btn btn-outline-danger" onclick="return confirm('Estas seguro que quieres eliminar')">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}